<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../static/img/cup.png"/>
        <title>Books & Coffee</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/bookClub.css">
    </head>
    <body>
        <h1>Books <span>&</span> Coffee!! <img class="cup" src="static/img/cupII.png" alt="coffee"></h1>
        <div>
            <a class="back" href="/">Home</a>
        </div>
        <div class="left">
            <h3>Search for local cafés:</h3>
            <div id="map"></div>
        </div>
        <div class="right">
            <h2>Readers</h2>
            <div class="readers">
                <ul>
                    {% for reader in readers %}
                        <li class="reader_list"><a href="/readerPage/{{ reader.id }}">{{ reader.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script>
            function activatePlacesSearch(){
                var input = document.getElementById( "search_term" );
                var autocomplete = new google.maps.places.Autocomplete( input );
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?false&libraries=places&key=xxxxxxxxxxxxx&libraries=places&callback=activatePlacesSearch"></script>
        <script>
            var map; 
            var infowindow;
            var request;
            var service;
            var markers = []; 

            function initialize(){
                    var center = new google.maps.LatLng(37.422, -122.084058);

                    map = new google.maps.Map( document.getElementById( 'map' ), {
                        center : center,
                        zoom : 13  });

                    request = {
                        location : center,
                        radius : 10000, //8047
                        types : ['cafe'] //'library'
                    };

                    infowindow = new google.maps.InfoWindow();
                    service = new google.maps.places.PlacesService( map );
                    
                    service.nearbySearch( request, callback );
                    
                    google.maps.event.addListener( map, 'rightclick', function( event ){
                        map.setCenter( event.latLng)
                        clearResults( markers )
                        var request = {
                            location : event.latLng,
                            radius : 10000,
                            types : ['cafe']
                        };
                        service.nearbySearch( request, callback );
                    })
            }
/////////////////////////////////////////////  
          
            function callback( results, status ){
                if( status == google.maps.places.PlacesServiceStatus.OK ){
                    for( var i = 0;  i < results.length;  i++){
                        markers.push( createMarker(results[i]));
                    }
                }
            }
/////////////////////////////////////////////

            function createMarker( place ){

                var placeLoc = place.geometry.location;
                var marker = new google.maps.Marker({
                    map : map,
                    position : place.geometry.location
                });

                google.maps.event.addListener( marker, 'click', function(){
                    infowindow.setContent( place.name );
                    infowindow.open( map, this );
                });

                return marker;
            }

/////////////////////////////////////////////
            
            function clearResults( markers ){
                for( var m in markers ){
                    markers[m].setMap( null )
                }
                markers = []
            }
/////////////////////////////////////////////
            
            google.maps.event.addDomListener( window, 'load', initialize );

        </script>
    </body>
</html>