<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../static/img/cup.png"/>
        <title>Books & Coffee</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/css/readerPage.css">
    </head>
    <body>
        {% if reader %}
            <div class="top"><a class="back" href="/bookClub">Back</a>|  <a class="back" href="/">Home</a><div class="header">{{ reader[0].username }}</div></div>
        {% endif %}
        <div class="middle">
            is currently reading<div id="current"></div>
            <script src="../static/js/app.js"></script>
            {% for book in books %}
                {% if book['status'] == 'current' %}
                    <p class="current"><a href="/readerBook/{{book['id']}}">{{ book['title'] }}</a></p>                    
                {% endif %}
            {% endfor %}
        </div>
        <div class="left">
            <h2>Wants to read:</h2>
            <ol>
                {% for book in books %}
                    {% if book['status'] == 'future' %}
                        <li><a href="/readerBook/{{book['id']}}">{{ book['title'] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="right">
            <h2>Books read:</h2>
            <ol>
                {% for book in books %}
                    {% if book['status'] == 'past' %}
                        <li><a href="/readerBook/{{book['id']}}">{{ book['title'] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </body>
</html>